html {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.6;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: black;
  padding: 10px;
}



h1 {
  text-align: center;
  color: #333;
}

p {
  font-size: 18px;
  color: #555;
  text-align: justify;
}

form {
  width: 50%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

a {
  text-decoration: none;
}


a:visited {
  color: white;
}

a:hover {
  color: aqua;
  font-size: 25px;
}

footer{
  background-color: #555;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: end;
}

footer p{
  color: white;
  text-align: start;
  margin-right: 40px;
  font-size: 15px;
}

.content{
  margin: 30px;
}

.container-home {
  display: flex;
  height: 100vh;
}

.texto-home {
  display: flex 50%;
}

.imagen-home {
  display: flex 50%;
}

.titulosAbout {
  font-size: 30;
  color: rgb(60, 91, 196);
  text-align: center;
  background-color: black;
  margin: 0;
}

#infoAbout {
  font-size: 10px;
}

#headerimg{
  width: 50px;
}