html {
    height: 100%;
    width: 100%;
  }

.titulosAbout {
  font-size: 20px;
  color: darkmagenta;
  text-align: center;
}

a{
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; 
  line-height: 1.6; 
}

.container-home {
  display: flex;
  height: 100vh;
}

.texto-home {
  display: flex;
  flex: 50%;
  flex-direction: column;
}

.imagen-home {
  display: flex;
  flex: 50%;
  justify-content: center;
  
}